Question 1:

Answer:

In [1]:
import pandas as pd
print(pd.__version__)

1.1.4

Question 2:

Answer:

In [4]:
import numpy as np
a=np.array([1,2,3,4,5])
b=pd.Series(a)
print(b)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Question 3:

Answer:

In [5]:
d=pd.DataFrame(a)
d['index']=b.index
print(d)

   0  index
0  1      0
1  2      1
2  3      2
3  4      3
4  5      4

Question 4:

Answer:

In [6]:
import seaborn as sbn
sbn.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

Question 5:

Answer:

In [7]:
data=sbn.load_dataset('mpg')
data

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Question 5:

Answer:

In [8]:
data['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

Question 6:

Answer:

In [9]:
data[data['origin']=='usa']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]